<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create A Puppy!</title>
  </head>
  <body>
    <h1>Create A Puppy</h1>
    <form method="post" action="/">
      <p>Name:</p>
      <textarea name="Name"></textarea>
      <br>
      <p>Breed:</p>
      <textarea name="Breed"></textarea>
      <br>
      <p>Age:</p>
      <textarea name="Age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>